# Terraform
terraform/main/.terraform
terraform/main/.terraform.lock.hcl



# Docker
docker-compose.yml

# Node / Angular
node_modules/
dist/

# Java / Maven
target/

# IDE / System
.vscode/
.idea/
.DS_Store