
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main



jobs:
#  build-backend:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v2
##setup java
#      - name: Set up JDK 17
#        uses: actions/setup-java@v4
#        with:
#          java-version: '17'
#          distribution: 'temurin'
##building and testing jar
#      - name: Build and test jar
#        working-directory: backend
#        env:
#          allowedConsumer: http://localhost
#        run: mvn clean verify -Dspring.profiles.active=test
#
#
#      #scaning code
#
#      - name: SonarCloud Scan
#        uses: SonarSource/sonarcloud-github-action@v2
#        env:
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#          SONAR_HOST_URL: https://sonarcloud.io
#        with:
#          args: >
#            -Dsonar.projectKey=Mohammed-janati_gestion-de-stock
#            -Dsonar.organization=mohammed-janati
#
#            -Dsonar.sources=backend/src/main/java,frontend/src
#            -Dsonar.exclusions=**/node_modules/**,**/dist/**,**/*.spec.ts
#
#            -Dsonar.tests=backend/src/test/java
#            -Dsonar.java.binaries=backend/target/classes
#            -Dsonar.java.test.binaries=backend/target/test-classes
#            -Dsonar.coverage.jacoco.xmlReportPaths=backend/target/site/jacoco/jacoco.xml
#
#            -Dsonar.javascript.lcov.reportPaths=frontend/coverage/lcov.info
#
#
#  build-frontend:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: check code
#        uses: actions/checkout@v2
#
#      - name: Use Node.js
#        uses: actions/setup-node@v4
#        with:
#          node-version: 22
#
#      - name: Install dependencies
#        working-directory: frontend
#        run: npm ci
#
#      - name: build front
#        working-directory: frontend
#        run: npm run build
#
#
#
#  # creating docker image
#  containerisation:
#    runs-on: ubuntu-latest
#    needs: [build-backend,build-frontend]
#
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v2
#
#      - name: Log in to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#
#        # Step 5: Build & push backend
#      - name: Build backend Docker images
#        working-directory: ./backend
#        run: |
#          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest .
#
#
#      - name: push backend Docker images
#        working-directory: ./backend
#        run: |
#          docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest
#
#        # Step 6: Build & push frontend
#
#      - name: Build frontend Docker images
#        working-directory: ./frontend
#        run: |
#          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest .
#
#      - name: push frontend Docker images
#        working-directory: ./frontend
#        run: |
#          docker push ${{ secrets.DOCKERHUB_USERNAME }}/frontend:latest
#


        

#  # Step 7: Scan backend image
#      - name: Scan backend image with Trivy
#        uses: aquasecurity/trivy-action@master
#        with:
#          image-ref: mohammedjanati645/backend_stockapp:latest
#          format: sarif
#          ignore-unfixed: true
#          output: ./trivy-results/backend_stockapp_latest.txt
#          vuln-type: 'os,library'
#          severity: 'CRITICAL,HIGH'
#          exit-code: 0
#
#
#  # Step 8: Scan frontend image
#      - name: Scan frontend image with Trivy
#        uses: aquasecurity/trivy-action@master
#        with:
#          image-ref: mohammedjanati645/frontend_stockapp:latest
#          format: sarif
#          ignore-unfixed: true
#          output: ./trivy-results/frontend_stockapp_latest.txt
#          vuln-type: 'os,library'
#          severity: 'CRITICAL,HIGH'
#          exit-code: 0


#      - name: Upload Trivy report
#        uses: actions/upload-artifact@v4
#        with:
#          name: trivy-report-${{ matrix.image }}
#          path: ./trivy-results/${{ matrix.image }}.txt


  building_Infra:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform/main
    env:
      TF_VAR_DOCKER_HUB_USER: ${{ secrets.DOCKERHUB_USERNAME }}
      TF_VAR_DOCKER_HUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      TF_VAR_jwt_secret: ${{ secrets.JWT_SECRET }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan



